{% extends 'base.html' %}
{%block title %} Home {%endblock%}
{%block content%}

{%load crispy_forms_tags%}

<main role="main">
    <div class="container py-5 text-center">
        <h1 class="display-4 text-white">Login</h1>
        <form method="POST" class="w-50 h-100 mx-auto">
            {%csrf_token%}
            {{login_form|crispy}}
            <button class="btn btn-primary w-100" type="submit">Login</button>
        </form>
        <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
    </div>

</main>
{%endblock%}