{% extends 'base.html' %}
{% block title %} Albums {% endblock %}
{% block content %}
{% load static %}
<main role="main" >
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="opacity: 0.5; background-color: rgba(255, 255, 255, 0.5);">
        <div class="container">
            <center><h1 class="display-3">My Albums</h1></center>
        </div>
    </div>
    
    {% comment %} Button images to show the photos {% endcomment %}
    <div class="container_flex" style="flex-wrap: wrap" id="container_flex">
        {% for i in photos %}
        <div class="row-image" style="background-color: gray; width: 300px; padding: 10px; height: 450px; border-radius: 10px;">
            <div class="col-md-4-images mb-4">
                <div class="card-images" id="card-images">
                    <div class="card-bodyImages">
                        <div class="photo-container-images">
                            <button class="btn-img btn-primary photo-button" id="showImages">
                                IMAGES NI SIYA DRI DAPITA
                            </button>
                        </div>
                        <center>
                            <h5>{{ i.title }}</h5>
                            <p>{{ i.date }}</p>
                            <a class="btn" href="/photos/{{ i.id }}">View Photos</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
        


    </div>
        <hr />
</main>
<br><br>
{% endblock %}