{% extends 'base.html' %}

{% block content %}
{% load static %}
<center><h1>My Gallery</h1></center>
    <center>
    <nav>
        <ul>
                <h1>
                    <button id="back-button" onclick="goBack()" style="display:none"><strong><h2 style="font-size:15">&lt;</h2></strong></button>
                </h1>
                <h1>
                    <a href="#" class="btnPictures" id="btnPictures" style="color: white">Pictures</a>
                </h1>
            
                <h1>
                    <a href="#" class="btnAlbum" id="btnAlbum" style="color: white">Albums</a>
                </h1>
            
                <h1>
                    <a href="#" class="btnStories" id="btnStories" style="color: white">Stories</a>
                </h1>
        </ul>
    </nav>
</center>

<div id="pictures" style="display:none;">
<center><h1>Pictures</h1></center>
<main role="main" id="pictures" class="pictures">
    
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton5">
                    <img id="image-to-display" src="{%static "images/img5.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton3">
                    <img id="image-to-display" src="{%static "images/img3.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton1">
                    <img id="image-to-display" src="{%static "images/img1.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton6">
                    <img id="image-to-display" src="{%static "images/img6.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton2">
                    <img id="image-to-display" src="{%static "images/img2.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton4">
                    <img id="image-to-display" src="{%static "images/img4.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
</main>
{% comment %} start pictures page {% endcomment %}

</div>


<div id="stories" style="display:none;">
<center><h1>Stories</h1></center>
{% comment %} start stories page {% endcomment %}

<main role="main" id="stories" class="stories">
    
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton6">
                    <img id="image-to-display" src="{%static "images/img6.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton5">
                    <img id="image-to-display" src="{%static "images/img5.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton4">
                    <img id="image-to-display" src="{%static "images/img4.jpg" %}" alt="Image">
                </button>
            </div>         
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton3">
                    <img id="image-to-display" src="{%static "images/img3.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton2">
                    <img id="image-to-display" src="{%static "images/img2.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton1">
                    <img id="image-to-display" src="{%static "images/img1.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
</main>
{% comment %} end stories page {% endcomment %}
</div>


<div id="album" style="display:none;">
<center><h1>Album</h1></center>

{% comment %} start stories page {% endcomment %}
<main role="main" id="album" class="album">
    
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton3">
                    <img id="image-to-display" src="{%static "images/img3.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton4">
                    <img id="image-to-display" src="{%static "images/img4.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton5">
                    <img id="image-to-display" src="{%static "images/img5.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton1">
                    <img id="image-to-display" src="{%static "images/img1.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton6">
                    <img id="image-to-display" src="{%static "images/img6.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <div class="button-container">
                <button id="toggleButton2">
                    <img id="image-to-display" src="{%static "images/img2.jpg" %}" alt="Image">
                </button>
            </div>
        </div>
    </div>
</main>
{% comment %} end albums page {% endcomment %}
</div>







{% comment %} start outside pictures page {% endcomment %}
<div id="PICTURE" >
    <main role="main" id="PICTURE" class="PICTURE">
        
        <div class="row">
            <div class="image">
                <div class="button-container">
                    <button id="toggleButton1">
                        <img id="image-to-display" src="{%static "images/img1.jpg" %}" alt="Image">
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="image">
                <div class="button-container">
                    <button id="toggleButton2">
                        <img id="image-to-display" src="{%static "images/img2.jpg" %}" alt="Image">
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="image">
                <div class="button-container">
                    <button id="toggleButton3">
                        <img id="image-to-display" src="{%static "images/img3.jpg" %}" alt="Image">
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="image">
                <div class="button-container">
                    <button id="toggleButton4">
                        <img id="image-to-display" src="{%static "images/img4.jpg" %}" alt="Image">
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="image">
                <div class="button-container">
                    <button id="toggleButton5">
                        <img id="image-to-display" src="{%static "images/img5.jpg" %}" alt="Image">
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="image">
                <div class="button-container">
                    <button id="toggleButton6">
                        <img id="image-to-display" src="{%static "images/img6.jpg" %}" alt="Image">
                    </button>
                </div>
            </div>
        </div>
    </main>

    {% comment %} end outside pictures page {% endcomment %}
    
    </div>
    


    {% comment %} image1 {% endcomment %}
	<div class="pic1" id="view-images1" name="PIC1" style="display:none;">
		<div class="in-image" id="in-image">
            <div class="s_image1" id="images1">
                <span class="close-button" id="close-image-button">&times;</span>
                <img src="{% static 'images/img1.jpg' %}" id="pic1"  >
            </div>
        </div>
	</div>


    {% comment %} image2 {% endcomment %}
	<div class="pic2" id="view-images2" name="PIC2" style="display:none;">
		<div class="in-image" id="in-image">
            <div class="s_image2" id="images2">
                <span class="close-button" id="close-image-button">&times;</span>
                <img src="{% static 'images/img2.jpg' %}" id="pic2"  >
            </div>
        </div>
	</div>

    {% comment %} image 3 {% endcomment %}
    <div class="pic3" id="view-images3" name="PIC3" style="display:none;">
		<div class="in-image" id="in-image">
            <div class="s_image3" id="images3">
                <span class="close-button" id="close-image-button">&times;</span>
                <img src="{% static 'images/img3.jpg' %}" id="pic3"  >
            </div>
        </div>
	</div>

{% comment %} image 4 {% endcomment %}
	<div class="pic4" id="view-images4" name="PIC4" style="display:none;">
		<div class="in-image" id="in-image">
            <div class="s_image4" id="images4">
                <span class="close-button" id="close-image-button">&times;</span>
                <img src="{% static 'images/img4.jpg' %}" id="pic4"  >
            </div>
        </div>
	</div>

    {% comment %} image 5 {% endcomment %}
	<div class="pic5" id="view-images5" name="PIC5" style="display:none;">
		<div class="in-image" id="in-image">
            <div class="s_image5" id="images5">
                <span class="close-button" id="close-image-button">&times;</span>
                <img src="{% static 'images/img5.jpg' %}" id="pic5"  >
            </div>
        </div>
	</div>

    {% comment %} image 6 {% endcomment %}
	<div class="pic6" id="view-images6" name="PIC6" style="display:none;">
		<div class="in-image" id="in-image">
            <div class="s_image6" id="images6">
                <span class="close-button" id="close-image-button">&times;</span>
                <img src="{% static 'images/img6.jpg' %}" id="pic6"  >
            </div>
        </div>
	</div>

    {% comment %} all pictures {% endcomment %}
    <section id="all-photos" style="display: none;">
        <div class="allpictures" style="display: flex; height: 15%; width: 7%; margin-left: .2in;">
            <div class="ALL-PIC">
                <img src="{% static 'images/img1.jpg' %}" id="pic1"  style="border-radius:10px; width: 200px; height: 200px">
            </div>
            <div class="ALL-PIC">
                <img src="{% static 'images/img2.jpg' %}" id="pic2"  class="ALL">
            </div>
            <div class="ALL-PIC">
                <img src="{% static 'images/img3.jpg' %}" id="pic3"  class="ALL">
            </div>
            <div class="ALL-PIC">
                <img src="{% static 'images/img4.jpg' %}" id="pic4"  class="ALL">
            </div>
            <div class="ALL-PIC">
                <img src="{% static 'images/img5.jpg' %}" id="pic5"  class="ALL">
            </div>
            <div class="ALL-PIC">
                <img src="{% static 'images/img6.jpg' %}" id="pic6"  class="ALL">
            </div>
        </div>
        <div class="allpictures" style="display: flex; height: 20%; width: 12%;margin-left: .1in; margin-top:120px;" >"
            <div>
                <img src="{% static 'images/img7.jpg' %}" id="pic7" style="border-radius:10px; width: 200px; height: 200px">  
            </div>
            <div>
                <img src="{% static 'images/img8.jpg' %}" id="pic8"  class="ALL">
            </div>
            <div>
                <img src="{% static 'images/img9.jpeg' %}" id="pic9"  class="ALL">
            </div>
        </div>
    </section>

{% endblock %}